
.tabs .tab {
  display: inline-block;
  text-align: center;
  line-height: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  
}

.tabs .tab a {
  color: lightslategrey !important;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 24px;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: color .28s ease;
}

.tabs .tab a:hover, .tabs .tab a.active {
  background-color: transparent;
  color: black !important;
}

.tabs .tab.disabled a,
.tabs .tab.disabled a:hover {
  color: rgba(238, 110, 115, 0.7);
  cursor: default;
}

.tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: black !important;
  will-change: left, right;
  margin-left: 3em;
  margin-right: 3em;
}
.title{
  font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  font-size: 14em;
  font-weight: 100;
  text-align: center;
}

.title-get-involved{
  font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  font-size: 7em;
  font-weight: 100;
  text-align: center;
}

.main-content{
  margin-top: 2em;
}

.logo{
  height:15em;
  margin-top: 4em;

}
.tabs{
  font-family: Roboto;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.description{
  font-family: Roboto;
  font-size: 1.6em;
  text-align: center;
  font-weight: 200;
}
.term-install-card{
  background-color: #2b2b2b;
  color: #fff;
  font-family: Menlo;
}

.term-install-card-small{
  background-color: #2b2b2b;
  color: #fff;
  font-family: Menlo;
  font-size: 0.8em !important;
}

.term-install-card-small > .card-stacked > .card-content{
  padding:10px !important;
}

.tip{
  font-size: 1.2em;
}
.tip-small{
  font-size: 1em;
}
.terminal-install{
  margin-top: 1em;
}
.dev-row{
  border-top: 1px solid lightgrey;
  padding-left:0em;
  padding-right: 0em;
  margin-bottom: 0px !important;
  padding-top: 1em;
  padding-bottom: 1em;

}
.no-border{
  border-top: 0px !important;
}

.tip-big{
  font-size: 1.5em;
  font-weight: 300;
  text-align: justify;
  padding:1em;

}
.install-tip{
  margin-left: 5em;
  margin-right: 5em;
  margin-top: 3em;
}

.examples{
  margin-left: 5em;
  margin-right: 5em;
  margin-top: 3em;
}

span.caret {
  color: initial;
  position: absolute;
  right: 0;
  top: 16px;
  font-size: 10px;
  padding-left: 10px;
}

.select-wrapper input.select-dropdown {
  background-color: rgba(40, 53, 147, 0.1);
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #f2f2f2;
  border-top-color: rgb(242, 242, 242);
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: rgb(242, 242, 242);
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: rgb(242, 242, 242);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(242, 242, 242);
  border-left-style: solid;
  border-left-width: 1px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-radius: 2px !important;
  height: 3rem !important;
}

.example-card{
  padding:2em;
}
.example-select{
  padding:2em;
}

.footer-text{
  text-align: center;
  color: lightslategrey;
  font-family: Roboto;
  padding: 1em;

}

.ft-span{
 text-transform: uppercase;
 letter-spacing: 0.1em;
}
.container-title{


  font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  font-size: 3em;
  font-weight: 100;

}
body {
  display: flex !important;
  min-height: 100vh !important;
  flex-direction: column !important;
}

main {
  flex: 1 0 auto;
}

footer.page-footer
{
  margin-top:20px;
  padding-top:20px;
  background-color:#fff !important
}
footer.page-footer .footer-copyright{
  overflow:hidden;
  height:50px;
  line-height:50px;
  color:lightslategrey !important;
  background-color:#fff !important
}

